@media (max-width: 767px) {
  .main-header .burger {
    display: block;
  }
  section.home {
    height: 75vh;
    position: relative;
    width: 100%;
  }

  section.home .initial {
    text-align: center;
  }
  section.home .initial h1,
  section.home .initial p {
    margin: 0 10%;
  }
  section.home .divider {
    display: none;
  }

  section.home .nav-right {
    position: absolute;
    width: 100% !important;
    height: 90vh;
    text-align: left;
  }

  section.home .nav-left {
    width: 100vw !important;
  }
  footer {
    padding: 0;
    height: max-content;
  }
  footer button {
    display: none;
  }
  footer .btn-send {
    display: block;
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    bottom: 10px;
  }
  footer p {
    display: none;
  }

  footer textarea {
    padding-bottom: 5vh;
    margin-top: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  footer .mobile-width button {
    display: block;
  }
  footer .mobile-width {
    bottom: 10px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  footer .mobile-width .btn-send {
    display: none;
  }
  footer .mobile-width button {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  section.home .nav-right {
    display: block !important;
  }
  header .eye {
    display: none;
  }
  footer {
    display: flex !important;
  }
  .main-header .burger,
  .main-header .nav-mobile {
    display: none;
    opacity: 0;
  }
  .main-header .nav {
    display: flex;
  }
}
