.home {
  height: 80vh;
  display: flex;
}

.home .nav-left {
  width: 75%;
  height: 100%;
  color: rgb(118, 103, 237);
  background-color: rgb(226, 234, 240);
  overflow: auto;
}
.home .nav-right {
  width: 25%;
  height: 100%;
  color: rgb(118, 103, 237);
  background-color: #fff;
  padding: 20px 15px;
  border: 2px solid rgb(222, 222, 222);
  overflow: auto;
}
.home .divider {
  width: 6px;
  cursor: col-resize;
  background-color: #ccc;
  transition: background-color 0.2s;
}

.home .divider:hover {
  background-color: #999;
}

.home .nav-left .initial {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.home .nav-left .initial .icon {
  font-size: 50px;
  color: rgb(118, 103, 237);
}

.home .nav-left .initial h1 {
  color: grey;
  font-weight: 500;
  font-size: 25px;
}

.home .nav-left .loader {
  margin-left: 5%;
}

.home .nav-left .conversation {
  min-height: max-content;
  padding: 5%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  word-spacing: 1.5px;
  color: #111111;
}
.home .nav-left .conversation .userinput {
  align-self: flex-end;
  background-color: rgb(118, 103, 237);
  width: max-content;
  padding: 6px 15px;
  border-radius: 7px;
  position: relative;
  z-index: 0;
  border-bottom-right-radius: 0;
  color: #f1f1f1;
  margin: 10px;
  max-width: 90%;
}

.home .nav-left .conversation h1 {
  color: #000;
}
.home .nav-left .conversation li {
  color: rgb(11, 11, 2);
  margin-top: 15px;
  font-size: clamp(14px, 1vw, 24px);
  margin-left: 19px;
  font-weight: 600;
}

.home .nav-right .initial {
  border-radius: 7px;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px rgb(137, 134, 134);
}

.home .nav-right .initial header,
.home .nav-right .initial footer {
  width: 100%;
  height: 10vh;
  justify-content: flex-start;
}

.home .nav-right .initial section {
  height: 80%;

  width: 100%;
}

.home .nav-right .initial header .icon {
  font-size: 25px;
  color: rgb(232, 197, 0);
}

.home .nav-right .initial header h1 {
  font-size: 25px;
  margin: 0 10px;
  font-family: sans-serif;
  font-size: clamp(14px, 1.5vw, 24px);
}

.home .nav-right .initial section {
  color: grey;
  padding: 0 20px;
  overflow-y: auto;
}

.home .nav-right .initial section .scroll {
  font-size: 17px;
}

.home .nav-right .initial section .scroll .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .nav-right .initial footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .nav-right .initial footer button {
  width: 80%;
  line-height: 2.5;
  border-radius: 15px;
  font-weight: 500;
  font-size: clamp(14px, 1vw, 24px);

  color: #fff;
  border-style: none;
  background-image: linear-gradient(
    to right,
    rgb(118, 103, 237),
    rgb(89, 73, 216)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.home .nav-right .initial footer button .icon {
  color: gold;
}
