footer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 1%;
  height: 10vh;
  justify-content: flex-start;
  position: relative;
}

footer .mobile-width {
  position: absolute;
  display: flex;
  gap: 10px;
  display: none;
}

footer .ask-button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: clamp(14px, 1vw, 24px);
  line-height: 2.5;
  padding: 0 15px;
  border-radius: 10px;
  border-style: none;
  background-image: linear-gradient(
    to right,
    rgb(192, 46, 245),
    rgb(151, 27, 196)
  );
  color: #fff;
  cursor: pointer;
  padding: 2px 10px;
}
footer button .icon {
  font-size: 20px;
}

footer button .icon-listen {
  font-size: 25px;
  width: 30px;
}
footer button.btn {
  background-image: linear-gradient(
    to right,
    rgb(162, 162, 162),
    rgb(142, 141, 141)
  );
  width: max-content;
}

footer textarea {
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
  padding-left: 15px;
  border: 2px solid grey;
  color: rgb(0, 0, 0);
  height: 65%;
  padding-top: 8px;
  overflow: hidden;
  resize: none;
}
footer textarea:focus {
  outline: grey;
}

footer button .send {
  transform: rotate(-30deg) translate(3px, -1px);
}

textarea::placeholder {
  color: rgba(122, 117, 117, 0.529); /* change this to any color you want */
}
